* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

body {

    background-color: color-mix(in srgb, #1E1E1E, transparent 95%);
}

/* shared style */

.main-color {
    background-color: #4E47FF;
}

.font-header {
    color: #252432;
}

/* header section */

.header {
    background-image: url(../images/Hero-bg.png);

}

/* font  */
.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-for-logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

/* .inter-for-logo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: 34px;
    font-weight: 900;
    font-style: normal;
    color: #4E47FF;
    font-size: 34px;
    height: 48px;
} */

/* .inter-for-logo {

    font-size: 34px;
    font-weight: 900;
} */





/* .raleway-main {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
} */


nav {
    max-width: 1140px;
    margin: auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.btn-sign-up {
    width: 132px;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 10px;
    height: 48px;
}

.btn-sign-up:hover {
    cursor: pointer;
    background-color: #ff0a68d3;
}

.btn-stay-focused {
    width: 174px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    height: 48px;
    margin-top: 37px;
    border: none;

}

.btn-stay-focused:hover {
    cursor: pointer;
    background-color: #ff0a68d3;
}

.cover-content {
    width: 900px;
    color: #252432;
    margin: 140px auto 0px auto;
    font-size: 35px;
    text-align: center;
    padding-bottom: 100px;
}

/* action section */

.see-it-in-action {
    max-width: 1140px;
    margin: 116px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.action-left {

    max-width: 500px;

}

.title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 24px;
    color: #25243275;

}


.btn-launch-live-preview {
    width: 230px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    height: 48px;
    margin-top: 23px;
    border: none;

}

.btn-launch-live-preview:hover {
    cursor: pointer;
    background-color: #ff0a68d3;
}

.action-right {
    max-width: 400px;
    border-radius: 50px;

}

div.action-right img {
    border-radius: 50px;
    max-width: 400px;
}


/* joined user section */

.joined-user-main {

    max-width: 1140px;
    margin: 116px auto;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;

    background-color: color-mix(in srgb, #4E47FF, transparent 90%);

}

.joined-user-sub {
    max-width: 850px;

    margin: auto;
    padding-bottom: 50px;
    /* padding: 50px auto 50px; */


}

.joined-user-title {
    font-size: 38px;
    font-weight: bold;
    align-items: center;

    text-align: center;
    color: #252432;
    padding: 50px 0px;

}

.three-parts {
    display: flex;
    justify-content: space-around;
}

.small-parts {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.small-parts-caption {

    color: color-mix(in srgb, #000000, transparent 50%);

    /* color: #0000007b; */
    font-size: 20px;
    text-align: center;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* focus-better section */


#focus-better {
    width: 1140px;
    margin: auto;
    padding-top: 130px;

    background-color: white
}

.focas-better-title {
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.focas-better-sub-title {
    font-size: 16px;
    color: color-mix(in srgb, #000000, transparent 50%);
    margin-top: 20px;
    text-align: center;

}

#btn-better-fks {

    width: 195px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    height: 48px;
    margin-top: 23px;
    border: none;



}

#btn-center {

    text-align: center;



}

#btn-better-fks:hover {

    cursor: pointer;
    background-color: #ff0a68d3;
}

#image-better-focus {
    width: 840px;
    border-radius: 48px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;


}

/* user say section */

.user-say {
    max-width: 1140px;
    margin: 116px auto;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;

    /* background-color: color-mix(in srgb, #4E47FF, transparent 90%); */
}

.title-user-say {
    max-width: 1140px;
    text-align: center;

    font-size: 42px;
    font-weight: bold;


}

.small-part-user-say {

    background-color: color-mix(in srgb, #FFFFFF, transparent 50%);
    border-radius: 14px;
    padding: 24px;
    stroke: #F2EDED;
    stroke-width: 1px;
    margin-top: 50px;
    width: 33.33%;


}

.description-user-say {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.sp-user-say-identity {
    display: flex;

}

.sp-user-say-identity-imp-radius {
    border-radius: 9999px;
}

.sp-user-say-text-title {
    font-size: 24px;
    font-weight: bold;
    color: #1E1E1E;
    margin-top: 20px;
}

.sp-user-say-text-description {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    margin-top: 8px;
}

.sp-user-say-identity {
    margin-top: 24px;


}

.sp-id-description-name {
    font-size: 16px;
    color: #757575;
}

.sp-id-description-date {
    font-size: 16px;
    color: #B3B3B3
}

.sp-id-description {
    margin-left: 5px;
}

#get-in-touch {
    max-width: 1140px;
    display: flex;
    margin: auto;
    margin-top: 92px;
    justify-content: space-around;

    padding-bottom: 70px;
    align-items: center;
}

#touch-text {
    font-size: 90px;
    font-weight: bold;
    max-width: 500px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

/* .touch-form{

} */


/* form section */

.form-lebel {
    font-size: 18px;
    font-weight: bold;
}

#textbox-name {
    width: 500px;
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    background-color: #FFFFFF;

    stroke: #D6DDED;
    stroke-width: 1px;
    border: 1px solid #D6DDED;
    border-radius: 10px;

}


#textbox-address {
    width: 500px;
    height: 100px;
    padding: 10px;
    margin-top: 5px;

    background-color: #FFFFFF;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;

    stroke: #D6DDED;
    stroke-width: 1px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
}

.btn-get-in-touch {
    width: 500px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    height: 48px;
    margin-top: 37px;
    border: none;

}

.btn-get-in-touch:hover {
    cursor: pointer;
    background-color: #ff0a68d3;
}

/* footer section */

.footer {
    width: 100%;
    background-color: white;

}

.footer-container {
    width: 531px;
    margin: auto;
    align-items: end;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFFFFF;
}

.footer-logo {
    font-size: 100px;
    color: #4E47FF;
    font-weight: 900;



    text-align: center;
    /* margin: 0px auto; */
    /* align-items: center; */
}

.footer-description {
    width: 531px;
    color: #8987A1;
    text-align: center;
    margin-top: 10px;

}

.footer-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color: #8987A1;


    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.footer-menu a {
    text-decoration: none;
    color: #8987A1;
    ;

}